/KruskalGenerator.class
/MazeGenerator.class
/ModifiedPrimsGenerator.class
/RecursiveBacktrackerGenerator.class
/KruskalGenerator$Tree.class
/KruskalGenerator$Tree$Node.class
/KruskalGenerator$TreeNode.class
/KruskalGenerator$Edge.class
/KruskalGenerator$Pair.class
